<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!--<p>ANA</p> -->
    <img src="https://www.google.es/search?q=ANA+SENIS+LOMBA&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjRtpL59vraAhUMtRQKHQbBCU8Q_AUICigB&biw=1368&bih=782#imgrc=2pbVs07bWX8ZgM:">
  </body>
</html>
