<!DOCTYPE html>
<html>
  <head>
    <title><P5></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><P5></h1>
    <p>Welcome to <%= title %></p>
    <a href="/quizzes">QUIZZES</a>
    <a href="/credits">CREDITS</a>
  </body>
</html>
